body{
    margin: 0px;

    background: rgb(84,223,255);
    background: linear-gradient(141deg, rgba(84,223,255,1) 0%, rgba(0,212,255,1) 0%, rgba(28,102,186,1) 27%, rgba(150,38,68,1) 92%);
    background-attachment: fixed; /*edit*/
}
.buttonNav:hover{
    background-color: rgb(69, 126, 201);
}
.buttonNav a{
    text-decoration: none;
    color: white;
}
.buttonNav{
    display: inline-block;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    width: 100px;
    height: 25px;
    background: transparent;
    border: none;
}

.schName{
    margin-left: 10px;
    color:white;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#logo{
    margin-left: 10px;
}
.holder{
    min-width: 300px;
    padding:10px;
    margin: 80px;
    max-width: 1200;
    background-color: rgba(39, 87, 87, 0.425);
}

.navBar{
    text-align: center;
    border-color: aliceblue;
    border: none;
    border-width: 1px;
    border-radius: 0px;
    padding-left: 0px;
    height: 150px;
}
.outside{
    display: grid;
    place-items: center;
}
.eventImage{
    height: 20%;
    width: 40%;
}
.event{
    padding: 10px;
    min-width: 100px;
    max-width: 1000px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(84,223,255);
    background: linear-gradient(141deg, rgba(84,223,255,1) 0%, rgba(48,124,157,1) 0%, rgba(28,177,186,1) 47%, rgba(142,38,150,1) 86%);
    margin-left: auto;
    background-attachment: fixed; /*edit*/
    background-color: transparent;
    border: none;

    color: white;
    margin: 20px;
    text-align: center;
    
}