body{
    background-color: rgb(22, 35, 54);
    color: rgb(247, 246, 246);
    display: grid;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(9,1fr);
}
a{
    color: whitesmoke;
    text-decoration: none;
}
@keyframes buttonHover {
    from{background-color: rgb(22, 35, 54);}
    to{background-color: rgb(63, 92, 153);}
}
#buttonAbout:hover{
    animation: buttonHover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
#topicAboutMe{
    text-align: center;
    grid-column: 1/6;
    grid-row: 3;

}
#mainDiv{
    line-height: 20px;
    grid-column: 2;
    width: max-content;
    grid-row: 2;
}
#aboutMeDiv{
    justify-self: center;
    line-height: 20px;
    grid-column: 1/6;
    width: max-content;
    grid-row: 4;
}
#buttonAbout{
    border:none;
    background-color: rgb(22, 35, 54);;
    color: white;
    width: fit-content;
    height: 40px;
}
#topicHobby{
    height: 50px;
    text-align: center;
    grid-column: 1/6;
    grid-row: 6;
}
#hobbyDiv{
    justify-self: center;
    line-height: 20px;
    grid-column: 1/6;
    width: max-content;
    grid-row: 7;
}
#navDiv{
    text-align: right;
    background-color: rgb(22, 35, 54);;
    grid-column: 1/6;
    grid-row: 1;
    height: 40px;
}